:root {
    --black: #17181f;
    --blue: #6c72cb;
    --pink: #cb69c1;
    --white: #eeedf0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 1;
    user-select: none;
}

/** Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px;
}

.navbarIcon {
    display: flex;
    padding: 7px;
    cursor: pointer;
    border-radius: 25%;
    box-shadow: var(--blue) 0px 1px 4px, var(--pink) 0px 0px 3px 2px;
}

.navbar h1 {
    display: flex;
    font-weight: normal;
}

.title {
    display: flex;
    font-size: 15px;
}

/** City */

.city {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.city h2 {
    margin: 15px 0px 0px 0px;
    font-size: 40px;
    font-weight: normal;
    text-shadow: var(--pink) 0 0 12px, var(--pink) 0 0 18px, var(--white) 0 0 6px;
}

.city p {
    margin: 0px;
    font-size: 30px;
    font-weight: normal;
    color: grey;
}

/** Country */

.country {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.country h3 {
    margin: 0px;
    font-size: 25px;
    font-weight: normal;
    color: var(--blue);
    text-shadow: var(--black) 0 0 5px, var(--blue) 0 0 20px, var(--blue) 0 0 5px;
    text-decoration: underline;
}

/** Temperature */

.temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 4px;
}

.temperature h2 {
    color: var(--white);
    font-size: 60px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: var(--black) 0 0 5px, var(--blue) 0 0 20px, var(--white) 0 0 5px;
}

.temperature sup {
    font-size: 35px;
}

/** Description */

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.description p {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: normal;
    color: var(--white);
    text-shadow: var(--black) 0 0 5px, var(--blue) 0 0 20px, var(--white) 0 0 5px;
}

/** TodayForecast */

.todayForecast {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.todayForecastBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    box-shadow: var(--blue) 0px 1px 4px, var(--pink) 0px 0px 3px 2px inset;
    width: 95%;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 5px;
}

.todayForecastItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin-inline: 5px;
}

.todayForecastItem .icon {
    color: var(--blue);
}

.todayForecastItem p {
    font-size: 18px;
    margin-left: 12px;
    color: var(--white);
}

.todayForecastItem span {
    color: var(--white);
    font-size: 18px;
    text-align: end;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 20px;
}

.divider {
    display: flex;
    flex-direction: row;
    content: "";
    box-shadow: var(--blue) 0px 0px 0.5px, var(--pink) 0px 0px 2.5px 1.5px;
    margin: 5px 7px;
}

/** DateTime */
/*! Sacado */
.dateTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
}

.dateTime p {
    font-size: 20px;
    color: grey;
    margin: 0px;
}

/** Hourly */

.hourly {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.hourlyBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    box-shadow: var(--blue) 0px 1px 4px, var(--pink) 0px 0px 3px 2px inset;
    width: 95%;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 5px;
    overflow-x: auto;
}

.hourlyTitle {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: sticky;
    top: 0;
    margin: 0;
    left: 21px;
    width: max-content;
}

.hourlyTitle h3 {
    margin: 10px 0px;
}

.hourlyRow {
    display: flex;
    flex-direction: row;
    align-self: start;
}

.hourlyResults {
    display: flex;
    flex-direction: column;
    width: 55px;
    margin-inline: 10px;
    align-items: center;
    gap: 4px;
}

.hourlyTime {
    font-size: 16px;
    margin: 0px;
}

.hourlyTemp {
    font-size: 18px;
    margin: 0px;
}

.hourlyPrecipitationBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.hourlyPrecipitation {
    margin: 0px;
    font-size: 15px;
}

.hourlyUilRaindropsAlt {
    color: #2196F3
}

/** WeeklyForecast */

.weeklyForecast {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.wf-box{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: var(--black);
    box-shadow: var(--blue) 0px 1px 4px, var(--pink) 0px 0px 3px 2px inset;
    width: 95%;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 5px;
}

.wf-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.wf-title{
    display: flex;
    width: 100%;
    height: auto;
}

.wf-title h3{
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.wf-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.wf-item-daybox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wf-item-daybox span{
    color: lightslategrey;
}

.wf-item-day{
    font-size: 18px;
    margin: 0px;
}

.wf-item-pres{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wf-UilRaindropsAlt{
    color: #2196F3;
}

.wf-item-minmax{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.wf-item-max{
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(255, 98, 0);
}

.wf-item-min{
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(0, 98, 255);
}



/** Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    color: var(--white);
}


/** Modal Input */

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    opacity: 1;
    width: 100%;
    height: 100vh;
    user-select: none;
}

.modal form {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    background-color: #3c3d44;
    box-shadow: var(--blue) 0px 1px 4px, var(--pink) 0px 0px 3px 2px;
    border-radius: 22px;
    margin-top: 10px;
}

.modal input {
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-self: self-start;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 7px 10px;
    font-size: 16px;
}

.modal .goBack {
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.modal input::placeholder {
    color: white;
}

.modal .letter {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    color: var(white);
    text-shadow: var(--black) 0 0 5px, var(--blue) 0 0 20px, var(--blue) 0 0 5px;
}